<ng-container *ngIf="showSignUp == false then profileCard else signUpCard"></ng-container>

<ng-template #signUpCard>
    <div class="common-card sign-up-card">
        <p class="signed-in-header">You are not Signed in</p>
        <p class="text-content">If you have already registered as a donor please <button class="primary" (click)="openProfileForm()">Sign
                in</button></p>
        <hr>
        <p class="text-content">If you have not registered yet <button class="primary" (click)="openProfileForm()">Register</button>
            as a blood donor</p>
    </div>
</ng-template>

<ng-template #profileCard>
    <div class="common-card profile-card">
        <ng-container *ngIf="personDetails.profilePicture then showPicture else showCamera"></ng-container>
        <ng-template #showCamera>
            <div class="profile-icon" (click)="openCamera()">
                <ion-icon name="camera"></ion-icon>
            </div>
        </ng-template>
        <ng-template #showPicture>
            <div class="profile-img" [style.background]="makeTrustedImage()">
            </div>
        </ng-template>
        <form #profileForm="ngForm" (submit)="registerDonor(profileForm)">
            <div class="card-section">
                <div class="input-fields">
                    <label>Name </label>
                    <input type="text" [(ngModel)]="personDetails.name" #name="ngModel" name="name" placeholder="Enter your Full Name">
                </div>
                <div class="input-fields">
                    <label>Blood Type </label>
                    <div class="select-section">
                        <select type="text" [(ngModel)]="personDetails.bloodType" #bloodType="ngModel" name="bloodType">
                            <option *ngFor="let bloodType of bloodTypeList" [value]="bloodType">{{bloodType}}</option>
                        </select>
                    </div>
                </div>
                <div class="input-fields">
                    <label>Phone (+91) </label>
                    <input type="number" [(ngModel)]="personDetails.contactNumber" #contactNumber="ngModel" name="contactNumber"
                        placeholder="Enter your Mobile number">
                </div>
            </div>
            <div class="card-section" ngModelGroup="address">
                <div class="input-fields">
                    <label>Address </label>
                    <input type="text" [(ngModel)]="personDetails.address.line1" #line1="ngModel" name="line1"
                        placeholder="Enter your Address">
                </div>
                <!-- <div class="input-fields">
                        <label>Address line2 </label>
                        <input type="text" [(ngModel)]="personDetails.address.line2" #name="ngModel" name="name">
                     </div> -->
                <div class="input-fields">
                    <label>City </label>
                    <input type="text" [(ngModel)]="personDetails.address.city" #city="ngModel" name="city" placeholder="Enter your City">
                </div>
                <div class="input-fields">
                    <label>State </label>
                    <input type="text" [(ngModel)]="personDetails.address.state" #state="ngModel" name="state"
                        placeholder="Enter your State">
                </div>
                <div class="input-fields">
                    <label>Pincode </label>
                    <input type="text" [(ngModel)]="personDetails.address.pincode" #pincode="ngModel" name="pincode"
                        placeholder="Enter your Pincode">
                </div>
            </div>
            <button class="primary" type="submit"> Register </button>
            <button class="secondary" type="button" (click)="cancelRegister()"> Cancel </button>
        </form>
    </div>
</ng-template>