<ng-container *ngIf="showSignUp == false then profileCard else signUpCard"></ng-container>

<ng-template #signUpCard>
    <div class="common-card sign-up-card">
        <p class="signed-in-header">You are not Signed in</p>
        <p class="text-content">If you have already registered as a donor please <button class="primary" (click)="openProfileForm()">Sign
                in</button></p>
        <hr>
        <p class="text-content">If you have not registered yet <button class="primary" (click)="openProfileForm()">Register</button>
            as a blood donor</p>
    </div>
</ng-template>

<ng-template #profileCard>
    <div class="form-card profile-card">
        <div class="section-header card-section">Personal Details</div>
        <form #profileForm="ngForm" (submit)="registerDonor(profileForm)">
            <div class="card-section">
                <div class="left-section" #leftSection>
                    <ng-container *ngIf="personDetails.profilePicture then showPicture else showCamera"></ng-container>
                    <ng-template #showCamera>
                        <div class="profile-icon" (click)="openCamera()">
                            <ion-icon name="camera"></ion-icon>
                            <strong class="upload-text"> Upload Image</strong>
                        </div>
                    </ng-template>
                    <ng-template #showPicture>
                        <div class="profile-img" [style.background]="makeTrustedImage()">
                        </div>
                    </ng-template>
                </div>
                <div class="right-section" [style.height.px]="leftSection.clientHeight">
                    <ion-item>
                        <ion-label color="primary" stacked>Contact Number</ion-label>
                        <ion-input type="number" [(ngModel)]="personDetails.contactNumber" #contactNumber="ngModel"
                            name="contactNumber" placeholder="+91XXXXXXXXXX"></ion-input>
                    </ion-item>
                    <ion-item>
                        <ion-label>Blood Type</ion-label>
                        <ion-select [(ngModel)]="personDetails.bloodType" #bloodType="ngModel" name="bloodType">
                            <ion-option *ngFor="let bloodType of bloodTypeList" [value]="bloodType">{{bloodType}}</ion-option>
                        </ion-select>
                    </ion-item>
                </div>
                <ion-item>
                    <ion-label color="primary" stacked>Full Name</ion-label>
                    <ion-input type="text" [(ngModel)]="personDetails.name" #name="ngModel" name="name" placeholder="Enter your Full name"></ion-input>
                </ion-item>
            </div>
            <div class="card-section" ngModelGroup="address">
                <ion-item>
                    <ion-label color="primary" stacked>Address</ion-label>
                    <ion-input type="text" [(ngModel)]="personDetails.address.line1" #line1="ngModel" name="line1" placeholder="Enter your Address"></ion-input>
                </ion-item>
                <ion-item>
                    <ion-label color="primary" stacked>City</ion-label>
                    <ion-input type="text" [(ngModel)]="personDetails.address.city" #city="ngModel" name="city" placeholder="Enter the City"></ion-input>
                </ion-item>
                <ion-item>
                    <ion-label color="primary" stacked>State</ion-label>
                    <ion-input type="text" [(ngModel)]="personDetails.address.state" #state="ngModel" name="state" placeholder="Enter the State"></ion-input>
                </ion-item>
                <ion-item>
                    <ion-label color="primary" stacked>Pincode</ion-label>
                    <ion-input type="text" [(ngModel)]="personDetails.address.pincode" #pincode="ngModel" name="pincode" placeholder="Enter the Pincode"></ion-input>
                </ion-item>
            </div>
            <div class="card-section button-bar">
                <button class="primary" type="submit"> Register </button>
                <button class="secondary" type="button" (click)="cancelRegister()"> Cancel </button>
            </div>
        </form>
    </div>
</ng-template>